<nav class="navbar navbar-expand-lg py-4 navbar-dark bg-danger">
  <div class="container">
    <a class="navbar-brand" routerLink="/">UserBook</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navBody"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navBody">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/show-user" routerLinkActive="active">User list</a>
        </li>
      </ul>

      <!-- <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="bg-dark text-white py-4">
  <div class="container text-center">&copy; Shakil - 2022 | UI Built with Angular</div>
</footer>
