<section>
  <div class="container">
    <div class="my-card border-green">
      <div class="light-bg-green p-3">
        <h6>User information</h6>
      </div>
      <div class="p-2">
        <div class="table-responsive">
          <table class="table table-bordered table-striped my-0">
            <thead class="table-dark">
              <tr>
                <th>Email</th>
                <th>Full name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Creation date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.Email }}</td>
                <td>{{ user.FullName }}</td>
                <td>{{ user.Address }}</td>
                <td>{{ user.Phone }}</td>
                <td>{{ user.CreationDate | date : 'dd-MMM-yyyy' }}</td>
                <td>
                  <app-user-deletor [email]="user.Email"></app-user-deletor>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
